body {
    background-color: #283235;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    text-align: center;
    background-color: #828E82;
    border-color: #ffffff;
    border-radius: 3px;
}
.buttonNavigation {
    background-color: #828E82;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.buttonNavigation:hover{
    background-color: #656e65;
}
.buttonAlign {
    text-align: center;
}